body{
    margin: 0;
    padding: 0;
}
#head1{
    height: 70px;
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}
#logo1{
    height: 70px;
    width: 90px;
    background-image: url("img1.png.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    color: white;
}
#nav1{
    color: white;
    height: 35pxpx;
    width: 50px;
    margin-top: 35px;
    text-decoration: none;


}

#mid1{
    margin: 0;
    padding: 0;
    height: 2100px;
    width: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    
}

#foot{
    margin: 0;
    height: 300px;
    width: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(251, 251, 251);
    background-color:  rgb(67, 67, 158);
    color: white;
}
#f1{
    /* border: 1px solid black; */
    height: 200px;
    width: 250px;
    margin-top: 50px;
}

#f1a{
    font-weight: bold;
}
#f1b{
    font-weight: bold;
}
#f1c{
    font-weight: bold;
}

#midA{
    margin: 0;
    height: 1800px;
    width: 675px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

#midB{
    /* border: 1px solid red; */
    height: 400px;
    width: 525px;
    margin-top: 50px;
    margin-left: 75px;
    background-color: rgb(89, 89, 174);

}

#midC{
    /* border: 1px solid orangered; */
    height: 400px;
    width: 525px;
    margin-top: 50px;
    margin-left: 75px;
    background-color: rgb(89, 89, 174);

}

#midB_1{
    /* border: 1px solid black; */
    height: 50px;
    width: 525px;
    text-align: center;
}

#heading_1{
    color: white;
}

#midB_2{
    /* border: 1px solid black; */
    height: 225px;
    width: 525px;
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 89, 174);
}

#midB_3{
    /* border: 1px solid black; */
    height: 125px;
    width: 525px;
}

#midB_1a{
    border: 1px solid black;
    height: 30px;
    width: 325px;
    margin-top: 10px;
    margin-left: 100px;
}

#midB_2a{
    /* border: 1px solid black; */
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-image: url('sundar-pichai.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
#midB_2b{
    /* border: 1px solid green; */
    height: 225px;
    width: 300px;

}



#midC_1_1{
    /* border: 1px solid black; */
    height: 50px;
    width: 525px;
    text-align: center;
}

#midC_2_1{
    /* border: 1px solid black; */
    height: 225px;
    width: 525px;
    display: flex;
    flex-direction: row;
}

#midC_3_1{
    /* border: 1px solid black; */
    height: 125px;
    width: 525px;
}

#midC_1a_1{
    /* border: 1px solid black; */
    height: 30px;
    width: 325px;
    margin-top: 10px;
    margin-left: 100px;
}

#midC_2a_1{
    /* border: 1px solid black; */
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-image: url('jeff_bezos.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
#midC_2b_1{
    /* border: 1px solid green; */
    height: 225px;
    width: 300px;

}

#detail{
    height: 150px;
    width: 250px;
    margin-top: 40px;
    margin-left: 65px;
    background-color: white;
    border-radius: 10px;
}
#para1{
    /* color: white; */
    font-weight: bold;
}
#para2{
    font-weight: bolder;
    color: white;
}


#midC_1_11{
    /* border: 1px solid black; */
    height: 50px;
    width: 525px;
    text-align: center;
}

#midC_2_11{
    /* border: 1px solid black; */
    height: 225px;
    width: 525px;
    display: flex;
    flex-direction: row;
}

#midC_3_11{
    /* border: 1px solid black; */
    height: 125px;
    width: 525px;
}

#midC_1a_11{
    /* border: 1px solid black; */
    height: 30px;
    width: 325px;
    margin-top: 10px;
    margin-left: 100px;
}

#midC_2a_11{
    /* border: 1px solid black; */
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-image: url('mark3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#midC_2b_11{
    /* border: 1px solid green; */
    height: 225px;
    width: 300px;

}
